/** CSS Reset **/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/** End reset **/

/** Color definition **/
$bodyBackground: #5a5a5a;
$linkColor: #333333;
$buttonBorder: #cecece;
$linkBorder: #e1e1e1;
$popupTransparentBackground: #f7f7f7;
$headerBackground: #cecece;
$pageOutlineBorder: #f7f7f7;
$headingBorder: #cdcdcd;
$cardBorder: #eeeddd;
$cardBackground: #eeeeee;
$cartTitleBorder: #fff6f6;
$cardBodyBackground: #f7f7f7;
$cardActiveBackground: #878787;
$cardActiveBodyBackground: #cbcbcb;
$tableHead: #6e6e6f;
$tableTitle: #3c3c3c;
$lfsGrey: #75787b;

/** APP **/
body {
  font-size: 13px;
  color: $bodyBackground
}

.hidden {
  display: none;
}

select {
  padding: 5px;
}

button {
  border: 1px solid $buttonBorder;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
}

a {
  border: 0;
  color: $linkColor;
  text-decoration: none;
  font-weight: bold;
}

li a {
  padding: 0 10px;
  border-left: 1px solid $linkBorder;
  line-height: 20px;
  display: inline-block;
}

li:first-child {
  a {
    padding-left: 0;
    border: none;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $popupTransparentBackground;
  opacity: 0.7;
  z-index: 20;

  .popup-body {
    position: relative;
    z-index: 21;
    top: 50%;
    left: 50%;
    border: 1px solid red;
  }
}

#loader {
  > div {
    position: relative;
    width: 30%;
    padding: 20px;
    margin-left: -15%;
    margin-top: -73px;
    text-align: center;
    left: 50%;
    top: 50%;
    background: url('../images/loader.gif') top center no-repeat;

    > span {
      display: inline-block;
      margin-top: 90px;
      font-weight: bolder;
    }
  }
}

#root {
  width: 100%;
  height: 100%;

  div#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 30px;
    padding: 5px 2%;
    background-color: $headerBackground;
  }

  div#body {
    width: 96%;
    margin: 50px auto 0;

    .error-page {
      border: 1px solid $pageOutlineBorder;
      border-radius: 5px;
      padding: 10px;

      h3 {
        margin: 0 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $headingBorder;
      }
    }

    .big-box {
      .content {
        position: fixed;
        z-index: 30;
        font-size: 7rem;
        border: 1px solid #3333;
        border-radius: 15px;
        text-align: center;
        opacity: 1;
        background: #fff;
        color: #096809;
        width: 90%;
        height: 140px;
        line-height: 140px;
        top: 50%;
        left: 50%;
        margin-top: -70px;
        margin-left: -45%;
      }
    }
  }
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;

    .last-item {
      margin-left: auto;
    }

    &.prayer_info {

      .card {
        width: 15%;
        border: 1px solid $cardBorder;
        background-color: $cardBackground;
        border-radius: 5px;
        margin-left: 5px;
        text-align: center;

        &:first-child {
          margin-left: 0;
        }

        .card-title {
          border-bottom: 1px solid $cartTitleBorder;
          padding: 10px;
          font-weight: bolder;
        }

        .card-body {
          padding: 10px;
          background-color: $cardBodyBackground;

          button {
            width: 100%;
          }
        }

        &.active {
          background-color: $cardActiveBackground;

          .card-body {
            padding: 10px;
            background-color: $cardActiveBodyBackground;
          }
        }
      }
    }
  }
}

/** Listing Table **/
table.custom {
  margin-top: 15px;
  width: 100%;

  caption {
    text-transform: uppercase;
    font-weight: bold;
    color: $tableTitle;
    text-align: center;
    line-height: 50px;
  }

  thead {
    border-top: 2px solid $tableTitle;
    border-bottom: 2px solid $tableTitle;

    th {
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      color: $tableHead;
      border: 1px solid #F1F1F1;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #F1F1F1;
      color: $lfsGrey;

      td {
        padding: 10px;
        border: 1px solid #F1F1F1;
      }

      th {
        padding-left: 10px;
        border: 1px solid #F1F1F1;
      }
    }
  }

  tfoot {
    color: $tableTitle;
    font-style: italic;
    border-bottom: 2px solid $tableTitle;

    tr {
      td {
        padding: 10px;
        border: 1px solid #F1F1F1;
      }
    }
  }
}

/** Pagination **/
.pagination-info {
  margin-top: 10px;
}

ul.pagination {
  display: flex;
  flex-direction: row;

  li {
    background-color: #cecece;

    &.disabled {
      background-color: #e1e1e1;
      color: #fff6f6;
    }

    &.active {
      background-color: #6d6d6d;
      color: #fff6f6;
    }

    span, a {
      padding: 10px;
      display: inline-block;
      line-height: 15px;
      border: 0;
    }
  }
}