{% extends"subscriber/base.twig" %}

{% block content %}
    <div class="error-page">
        Ouch. It seems you did not subscribe yet. <br/>
        Please contact our admin how to subscribe.
    </div>
{% endblock %}