<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link href="{{ constant('BASE_URL') ~ '/styles/app.css' }}" rel="stylesheet">
</head>
<body>
<div id="root">
    <div id="header">
        <div class="flex row">
            <div>
                Select Zone
            </div>

            <div style="margin-left: 15px;">
                <select>
                    {% if zones %}
                    {% for zone in zones %}
                    <option value="{{ zone }}">{{ zone }}
                    <option>
                        {% endfor %}
                        {% endif %}
                </select>
            </div>
        </div>
    </div>

    <div id="body">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% block script %}
{% endblock %}
</body>
</html>