<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ appTitle ?? 'Welcome!'  }}</title>

    <link href="{{ constant('BASE_URL') ~ '/css/app.css' }}" rel="stylesheet">
</head>
<body>
<div id="root">
    <div id="header">
        <div>
            {% block menu %}
            {% endblock %}
        </div>
    </div>

    <div id="body">
        {% block content %}
        {% endblock %}
    </div>

    <div class="popup" id="loader">
        <div>
            <span>Please wait while loading...</span>
        </div>
    </div>
</div>

<script type="text/javascript">
  let loader = document.getElementById('loader');

  function showLoader() {
    loader.classList.remove('hidden');
  }

  function hideLoader() {
    loader.classList.add('hidden');
  }

  // Hide loader when document on load.
  document.addEventListener("DOMContentLoaded", function (event) {
    hideLoader();
  });
</script>
{% block script %}
{% endblock %}
</body>
</html>